<html>
    <head>
        <title>brother's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">brother's blog</a></h1>
        </div>

        <div>
            <p>published: 23.05.2017, 22:12</p> 
            <h2><a href="">My first post</a></h2>
            <p>志鹏，生意兴隆！</p>
            <p>威，IT技术越来越好！</p>
            <p>善文，IT技术越来越好！</p>
            <p>茂程，目标达成，请他们吃饭！</p>
        </div>

        <div>
            <p>published: 23.05.2017, 22:18</p>
            <h2><a href="">My second post</a></h2>
            <p>加油吧！小伙子，未来是我们的！</p>
        </div>
    </body>
</html>
